<header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['']">
                <img alt="Brand" src="favicon.ico">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-navbar">
          <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['']">Home</a></li>
              <li><a [routerLink]="['cadastro']">Cadastrar</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="titulo">{{titleHeader}}</h1>
</header>
<router-outlet></router-outlet>
<footer class="jumbotron">
  <div class="container">&copy; 2017 Rafael Pereira de Lacerda Lopes</div>
</footer>

