/* You can add global styles to this file, and also import other style files */
.logo {
    font-weight: bold;
    text-transform: uppercase;
}

.menu-nav a:hover {
    border-bottom: 0.2em solid blue;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 1.5em;
}